<form action="/new/?" method="POST">
  <input class="test1" type="text" placeholder="Ecrivez votre log ici ;)" name="content"><br><br>
  <input class= "boutonprenom" type="text" name="prenom" placeholder="Prénom">
  <button type="submit" class="envoyer">Envoyer</button>
</form>